#css-zen-garden {
	margin: 0 auto;
	width: 100%;
	background-color: aquamarine;
}

header {
	background: url('../img/mountains.png') no-repeat center /cover;
	width: 100%;
	display: inline-block;
	text-align: center;
	padding-top: 20px;
}

/*.intro {
	background: url('../img/mountains.png') no-repeat center /cover;
	width: 100%;
	display: inline-block;
	text-align: center;
	padding-top: 20px;
	background-color: aliceblue;
}
*/
.page-wrapper {
	display: inline-block;
}